html {
    box-sizing: border-box;
    font-family: 'TT Lakes';
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}


@font-face {
    font-family: 'TT Lakes';
    src: url('../assets/fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('../assets/fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/TTLakes-Regular.woff') format('woff'),
        url('../assets/fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../assets/fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('../assets/fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/TTLakes-Medium.woff') format('woff'),
        url('../assets/fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../assets/fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('../assets/fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/TTLakes-Bold.woff') format('woff'),
        url('../assets/fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.nav {
    min-height: 95vh;
    position: fixed;
    background: #FFFFFF;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}

a {
    text-decoration: none;
}

.nav-wrapper {
    margin: 19px 24px 32px 24px;
    min-width: 272px;
    max-width: 320px;
}

.top,
.top__close {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top {
    width: 100%;
}

.top__close {
    min-width: 154px;
}

.button {
    width: 40px;
    height: 40px;
    background: #FF3E79;
    border-radius: 20px;
    border: none;
}

.button:hover {
    filter: saturate(2);
    transform: scale(1.15);
    transition-duration: 0.3s;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 86.5vh;
}

ul.burger__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 222px;
    min-height: 40vh;
    margin-top: 32px;
}

.burger__list {
    list-style: none;
}

.burger__title {
    margin-top: 47px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    font-weight: 500;
}

.burger__title::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    border-radius: 0px 5px 5px 0px;
    transform: translate(-24px, -5px);
}

.burger__item a {
    text-decoration: none;
    display: block;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: 500;
}

.info__buttons {
    display: flex;
    justify-content: space-between;
    width: 152px;
}

.info__link {
    display: block;
}

.info___mail {
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
    color: #1B1C21;
}

.info___phone {
    margin-top: 12px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    font-weight: bold;
    color: #1B1C21;
}

.languages__ru {
    display: inline-block;
    margin-top: 40px;
}

.languages__ru,
.languages__en,
.languages__ch {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    margin-right: 7px;
}

.languages--active {
    color: #7E7E82;
}

@media (max-height: 676px) {
    .burger__title {
        margin-top: 26px;
    }

    ul.burger__list {
        margin-top: 24px;
    }

    .info__buttons {
        margin-top: 32px;
    }

    .languages__ru {
        margin-top: 8px;
    }
}