html {
    box-sizing: border-box;
    font-family: 'TT Lakes';
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}


@font-face {
    font-family: 'TT Lakes';
    src: url('../assets/fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('../assets/fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/TTLakes-Regular.woff') format('woff'),
        url('../assets/fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../assets/fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('../assets/fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/TTLakes-Medium.woff') format('woff'),
        url('../assets/fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../assets/fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('../assets/fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/TTLakes-Bold.woff') format('woff'),
        url('../assets/fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.aside {
    max-width: 320px;
    z-index: 1;
    min-height: 100vh;
    position: fixed;
    background: #FFFFFF;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}

.overlay {
    position: absolute;
    filter: blur(4px);
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.aside__wrapper {
    margin: 19px 24px 32px 24px;
    min-width: 272px;
}

.aside-head,
.aside-head__close,
.buttons-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside-head {
    width: 100%;
}

.aside-head__close {
    min-width: 154px;
}

.button {
    width: 40px;
    height: 40px;
    background: #FF3E79;
    border-radius: 20px;
    border: none;
}

.button:hover {
    filter: saturate(2);
    transform: scale(1.15);
    transition-duration: 0.3s;
}

.aside-body,
.navigation__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 91.5vh;
}

.navigation__list {
    min-width: 222px;
    min-height: 45vh;
    margin-top: 50px;
}

.navigation__item a {
    display: block;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: 500;
}

.navigation__item--active a {
    color: #7E7E82;
}

.navigation__item--active::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    border-radius: 0px 5px 5px 0px;
    transform: translate(-24px, -5px);
}

.buttons-list {
    width: 152px;
}

.info__link {
    display: block;
}

.info___mail {
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;
    color: #1B1C21;
}

.info___phone {
    margin-top: 12px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    font-weight: bold;
    color: #1B1C21;
}

.languages-list {
    display: flex;
    align-items: flex-end;
    width: 86px;
    justify-content: space-between;
}

.languages-list__ru a {
    display: inline-block;
    margin-top: 40px;
}

.languages-list__ru a,
.languages-list__en a,
.languages-list__ch a {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}

.languages--active a {
    color: #7E7E82;
}

@media (max-height: 900px) {
    .aside-body {
        min-height: 88.5vh;
    }
}

@media (max-height: 700px) {
    .aside-body {
        min-height: 85.5vh;
    }

    .navigation__list {
        margin-top: 30px;
    }
}

@media (max-height: 600px) {
    .languages-list__ru a {
        margin-top: 12px;
    }

    .aside-body {
        min-height: 83.5vh;
    }
}